*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    list-style: none;
    background-color:rgb(44, 46, 48);
    
}
 .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    justify-content: center;
    
}
 
.square{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    border: 1px solid #000;
    font-size: 3rem;
}

.square:hover{
    background-color: #e0e0e0;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions{
    font-size: 1.5rem;
    margin-bottom: 2px;
    text-align: center;
    color: rgb(38, 202, 106);
}
.tictactoe{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(239, 245, 247);
}





button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
     margin-top: 20px;
}
button:hover {
    background-color: #bbeebd;
}
button:active {
    background-color: #0a0a0a;
}
.display {
    font-size: 1.2rem;
    color: rgb(239, 245, 247);
    margin-top: 20px;
}